.jumbotron {
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: green;
    background-image: url("./jumbo_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
